

<div class= "profile">
  <%= form_tag(:action => 'change_password') do %>
      <table>
        <tr>
          <td><%=label_tag(:password) %></td>
          <td> <%= password_field_tag(:password) %> </td>
        </tr>
        <tr>
          <td><%=label_tag(:confirm_password) %></td>
          <td> <%= password_field_tag(:confirm_password) %></td>
        </tr>
        <tr>
          <td> &nbsp; </td>
          <td><%= submit_tag("Change Password") %></td>
        </tr>
      </table>
  <% end %>
</div>