<h1> My wishlist</h1>

<% unless @editions.empty? %>

    <table id="books" class="table table-hover">
      <% @editions.each do |book| %>
          <tr class="bookRow">
            <td data-link="<%= edition_path(book.id) %>"><%= image_tag book.image, size: "100x50" %></td>
            <td data-link="<%= edition_path(book.id) %>">
              <b>Title:</b> <%= book.title %><br>
              <b>ISBN:</b> <%= book.isbn %><br>
              <b>Author:</b> <%= book.author %><br>
              <b>Edition:</b> <%= book.edition_num %><br>
              <b>Course:</b> <%= book.course_code %><br>
              <b>Number of copies being sold:</b> <%= book.for_sale %><br>
            </td>
            <td><br><br>
              <%= link_to "Sell", new_sell_path(:isbn => book.isbn), {class: 'btn btn-success'} %>
              <br>
              <br>
              <%= link_to "Add to wishlist", {controller: 'wishlist', action: 'new', id: book.id}, {class: 'btn btn-info'} %>

            </td>
          </tr>
      <% end %>
    </table>

<% end %>

<% if @editions.empty? %>
    <i>No books yet.</i>
<% end %>